/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


body {
  background-color: #bdc3c7;
  margin: 30px;
}

h1{
    color:white;
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(207, 202, 202);
    font-weight: 600;
}

.obsah{
    background-color: #31363b;
    width: 300px;
    padding: 30px;
}

.foto{
    width: 300px;
}

.logo{
    position: absolute;
    top: 210px;
    left: 250px;
    background-color: #b92e81;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(36, 35, 35, 0.5)
}

.odkazy{
    font-family:'Montserrat', sans-serif;
    background-color: #31363b;
    padding: 0;
    margin: 0;
    width: 300px;
    text-align: center;
}

.odkazy a{
    color: rgb(207, 202, 202);
    text-decoration: none;
    text-transform:uppercase;
    font-weight: bold;
}

.odkazy li{
    display: block;
    padding: 10px;
}


.portfolio{
    border-top: 2px solid #3f464d;
    border-bottom: 2px solid #3f464d;
    text-align: center;
}

.portfolio:hover{
    background-color: #e74c3c;
}


.facebook{
    text-align: center;
    border-bottom: 2px solid #3f464d;
}

.facebook:hover{
    background-color:#3b5998;
}


.twitter{
    text-align: center;
}

.twitter:hover{
    background-color: #1da1f2;
}
.obsah,
.foto,
.odkazy{
    box-shadow:2px 2px 2px 2px rgba(84, 83, 83, 0.5) ;
}